:root {
    /* font-family: 'Roboto', sans-serif; */
    --main-color: black;
    --accent-color: white;
    scroll-behavior: smooth;
    --color1: #fff; /*Red #E84545*/
    --color2: #53354A; /*Plum*/
    --color3: #903749; /*Maroon*/
}

.photos{
    background-image: url(../img/test-image.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 400px;
    width: 100%;
}

iframe{
    width: 100%;
    height: 300px;
    border: none;
}

.main-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s;
}

.main-info a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    height: 32px;
    color: var(--color2);
    border: 1px solid transparent;
    transition: 0.4s;
}

.main-info a:hover{
    border-bottom: 1px solid var(--color3); 
    color: var(--color3);
    transition: 0.4s;
}

@media (max-width:370px){
    .main-info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: 0.3s;
    }
}